
/plot/
/data/
.idea/
/M2/checkpoints/
/ddi/train_dataset/decrease_features_labs_matrix_1.pickle
/ddi/train_dataset/increase_features_labs_matrix_1.pickle
/ddi/train_dataset/decrease_features_labs_matrix_0.pickle
/ddi/train_dataset/decrease_features_labs_matrix_2.pickle
/ddi/train_dataset/increase_features_labs_matrix_0.pickle
/ddi/train_dataset/increase_features_labs_matrix_2.pickle
/data/train-images-idx3-ubyte.gz
/data/t10k-labels-idx1-ubyte.gz
/data/train-labels-idx1-ubyte.gz
/data/t10k-images-idx3-ubyte.gz
/target/
/M2/img/
/M2/mnist/mnist_28.pkl.gz
/M2/mnist/mnist_28.pkl
/ddi/test_dataset/
/ddi/train_dataset/
